<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
    <title>Document</title>
</head>

<body style="background-color: #EEEE;">
    
    <div class="container col-lg-11 c-container">
        <div class="c-head">
            <div class="back">
                <a href="/"><i class="fas fa-arrow-left"></i></a>
            </div>
            <div class="global-btn">
                <a href=""><i class="fas fa-globe"></i> <span>Küresel</span> </a>
            </div>

            <div class="selected-country" id="selected-country">
                <img class="country-img" src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Flag_of_the_United_States_%281846%E2%80%931847%29.svg" alt="">
                <h5 class="px-2 mt-2">
                    USA
                </h5>

            </div>

        </div>
        <div class="c-body mx-3 mt-5">
            <div id="c-head"></div>
            <div class="c-info">
                <div class="c-new" id="newCases">
                    <h3><%= usaData[1] %>
                    </h3>
                    <h6>Yeni Vakalar</h6>
                </div>
                <div class="c-new" id="newDeaths">
                    <h3><%= usaData[3] %>
                    </h3>
                    <h6>Yeni Vefat</h6>
                </div>
                <div class="c-info" style="width: 300px; margin-left: 20px; position: absolute; top:80px;">
                    <p><i class="fas fa-info-circle" style="font-size: 1.5rem;"></i> Günlük vaka ve ölüm sayıları saat
                        24.00' dan sonra sıfırlanmaktadır.</p>
                </div>
            </div>
        </div>
        <div class="c-details-container" style="color:rgb(75, 192, 192);">
            <div class="row">
                <div class="col-sm c-details">
                    <h2>
                        <%= usaData[0] %>
                    </h2>
                    <h6 class="text-muted">Toplam Vaka</h6>
                </div>
                <div class="col-sm c-details">
                    <h2>
                        <%= usaData[2] %>
                    </h2>
                    <h6 class="text-muted">Toplam Vefat</h6>
                </div>
                <div class="col-sm c-details">
                    <h2>
                        <%= usaData[8] %>
                    </h2>
                    <h6 class="text-muted">Toplam Test</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm c-details">
                    <h2>
                        <%= usaData[5] %>
                    </h2>
                    <h6 class="text-muted">Aktif Hasta</h6>
                </div>
                <div class="col-sm c-details" id="population">
                    
                </div>
                <div class="col-sm c-details">
                    <h2>
                        <%= usaData[6] %> /M
                    </h2>
                    <h6 class="text-muted">Milyon Başına Vaka</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm c-details">
                    <h2>
                        <%= usaData[7] %> /M
                    </h2>
                    <h6 class="text-muted">Milyon Başına Ölüm</h6>
                </div>
                <div class="col-sm c-details" id="critical">
                    
                </div>
                <div class="col-sm c-details">
                    <h2>
                        <%= usaData[4] %>
                    </h2>
                    <h6 class="text-muted">İyileşen</h6>
                </div>
            </div>

        </div>
    </div>

    <div class="container mt-5">
        <div class="charts" style="width: 100%; height: auto;">
            <h1 class="text-center">Türkiye Geneli Günlere Göre Vaka Grafiği</h1>
            <canvas id="historicalCases"></canvas>
            <br><br><br><br>
            <h1 class="text-center">Türkiye Geneli Günlere Göre Ölüm Grafiği</h1>
            <canvas id="historicalDeaths"></canvas>
            <br><br><br><br>
            <div class="container col-lg-12" id="pieCharts">
                <div class="container">
                    <canvas id="pieChart1"></canvas>
                </div>
                <div class="container">
                    <canvas id="pieChart2"></canvas>
                </div>
            </div>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script src="js/usa.js"></script>
</body>

</html>